[2017-12-11 23:37] leenaars opened #3 "Secure POP not activated"
The Secure (TLS) version of POP normally runs on port 995, and allows direct connection over TLS rather than StartTLS (which can be MitM). The mail abstraction does yet seem to run this?

[2017-12-12 07:05] uwap commented on #3
You are absolutely right. I will change this later. Thanks!

[2017-12-12 08:42] leenaars commented on #3
BTW: thanks for the awesome work.

[2017-12-13 09:43] uwap commented on #3
Dovecot2 uses pop3s and imaps on default. It doesn't seem to use the different ports though. @leenaars any thought on this?

[2018-01-08 21:24] #3 closed

[2018-01-31 09:05] leenaars opened #5 "Firewall ports open for reverse proxy"
Currently, the user needs to indicate manually in the configuration that port 80 and port 443 need to be opened. However, if the reverse proxy is used, this implies that those ports are to be opened.

**Proposed solution:**
Add ports 80 and 443 firewall rules when reverse proxy is active.

[2018-01-31 09:08] leenaars opened #6 "Non-root ownership of state dirs"
By default, the state directories are owned by root.
This seems wrong, these should be owned by the owner of the process that is supposed to write in those directories.

**Proposed solution: **
At creation of state directory, assign rights to the right owner. Use setgid.

[2018-01-31 12:55] qknight commented on #6
your assumption is right. looking into this.

[2018-02-01 10:07] leenaars opened #7 "Leaps inheritance of websockets"
Inheritance is incomplete. There are three types defined in modules/services/reverse-proxy/options.nix:

type = types.enum [ "redirect_to_https" "on" "off" ];

When you want to use redirect_to_https in combination with leaps, you get an error:

The option value `nixcloud.webservices.leaps.demo.proxyOptions.websockets.ws.http.mode' in `/some/path/nixcloud-webservicesl/modules/web/core/webserver.nix

[2018-02-01 10:10] leenaars commented on #7
Note that this is on Nixos 17.09.

[2018-02-01 15:22] qknight commented on #7
fixed in:

89ae217a6e6f81e78d3df4267f5900de8118d0e1

sorry, that i didn't check this first. but it seems to be working now
for me. please check it again.

the change:

websockets.<name>.http.mode inherits from http.mode (same for https)

On 01.02.2018 11:07, leenaars wrote:

--
Joachim Schiele
nixcloud GmbH

004915204145347

blog: http://lastlog.de/blog
wiki: http://lastlog.de/wiki
GPG: C11CFB9FFA

[2018-02-02 12:30] qknight commented on #5
this has been fixed in  6d83eea58a04da75bb14714a3ccd9efbc87cea1f and we now add the respective ports to the firewall by default as wished.

[2018-02-02 12:30] #5 closed

[2018-02-02 12:42] qknight commented on #6
@leenaars can't reproduce this with the leaps service. how can i reproduce your problem? are you using something else than the leaps service like the `/root/nixcloud.monitoring-server/pkgs/nixcloud-webservices/lib/make-webservice.nix` mechanism?

[2018-02-05 08:17] aszlig commented on #6
I'd suggest a more generic solution where within instances you have a `createDirectories` option that is responsible for creating all sorts of directories in one place, especially because creating directories is something that's quite common for a lot of services.

[2018-02-05 20:57] leenaars opened #8 "Document sasl settings"
When testing the documented setup (https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.email.md#basic-example), using smtp over the submission port to send email to external domains is not possible. This seems to require additional sasl settings, which need to be added to get a working setup.

Otherwise, it seems only email to the own domain can be sent.

[2018-02-06 12:46] qknight commented on #6
@leenaars aszlig and me are currently looking into alternatives to the current concept of using the nixos abstraction to create the homedir. we consider two options:

* requireDirectory: which uses `chmod g+s /some/dir`
* requireDirector: which uses POSIX ACL commands

[2018-02-09 19:23] qknight commented on #6
@aszlig irgend ein zeitlicher plan hier?

[2018-02-09 21:43] leenaars opened #9 "Leaps in path not working"
When an instance of leaps is create elsewhere than on the root folder of a domain, e.g. using path = "/somedir", the resulting service available on example.com/somedir opens document non-editable - at least when using TLS.
Working theory is that the webservice is not mapped the right way...

[2018-02-09 21:59] leenaars commented on #8
This appears to have been another issue.

[2018-02-09 21:59] #8 closed

[2018-02-12 20:09] qknight commented on #9
can you please paste the configuration.nix's partes regarding the `nixcloud.reverse-proxy` and the `nixcloud.webservice.leaps.*` records?

[2018-02-16 00:52] #6 closed

[2018-02-25 14:36] qknight commented on #7
@leenaars could you please check if this works for you?

[2018-02-25 20:47] leenaars commented on #7
It doesn't. I still have ineditable documents in leaps instances when using a subdirectory.

[2018-02-25 20:48] qknight commented on #7
@leenaars now i understand the problem. let me check this tomorrow! (this could be a reverse-proxy configuration issue).

[2018-02-28 15:38] qknight commented on #9
try the fix in nixcloud-webservices (must at least contain this revision 742af32d336aa1d84e496c7791d1f8780d4f12ec)

[2018-02-28 15:50] qknight commented on #7
@leenaars should be fixed also with: https://github.com/nixcloud/nixcloud-webservices/issues/9

please reopen if problem persists

[2018-02-28 15:50] #7 closed

[2018-02-28 16:06] leenaars commented on #7
Fixed.

[2018-02-28 16:10] leenaars opened #11 "Documentation for database abstraction"
Documentation request
==================
There is no documentation yet for the database abstraction.
One may notice a database target and a db-server target for every service created with nixcloud, but it is not yet clear how to add anything to them.

[2018-03-01 03:17] aszlig commented on #11
Does [this](https://github.com/nixcloud/nixcloud-webservices/tree/master/modules/web/services#database) help?

[2018-03-02 09:19] leenaars commented on #11
Thanks @aszlig, that is already very helpful to get a basic understanding. Thanks! Some of the options might not really clear for implementers yet, e.g. what do they need to do with SO_PEERCRED, socketPath, etc.
Will you be adding some examples how one would approach say a 'classic' LAMP application?

_Note that a normal user like me would have looked for this in the [documentation folder](https:/

[2018-03-02 09:33] leenaars opened #12 "Feature request: noDB flag"
It doesn't make sense (especially on systems with scarce resources) to have many instances of similar services looking after databases that will never not exist. My test setup has a limited amount of inodes, which is eaten up by a very large nix store. That situation is likely to be quite common in cheap hosting. Database software is big (>3000 inodes for postgresql in the nix store) so this helps

[2018-03-02 10:48] qknight commented on #12
i'm a bit confused, do you request support for https://github.com/Miserlou/NoDB?

having multiple databases, one per webservice, helps in separation of concerns and mainly requires more RAM and not so much more inodes.

[2018-03-02 11:34] leenaars commented on #12
No, the suggestion I'm making is that currently every instance of a webservice adds a .service for a database component - even if there is not a database required. That pollutes the service overview, and produces cruft. For instance for leaps there is no database required... So a way to indicate somewhere, somehow that the webservice does not use a database nor ever will.

(Perhaps similar to how

[2018-03-02 14:19] aszlig commented on #11
@leenaars: Hm, you're right, `/documentation` is probably better, I'll move it.

[2018-03-02 14:29] aszlig commented on #11
@leenaars: The reference on `SO_PEERCRED` is because it's used for authenticating users on UNIX sockets, but I guess that's just a technical detail and it probably shouldn't be emphasized so much.

[2018-03-05 11:01] qknight commented on #12
sounds like something we should do

[2018-03-05 16:19] qknight opened #14 "webservices with static documents in ${config.stateDir}/www"
# motivation

* `static-darkhttpd` and `static-nginx` should have an example index.html (and also for documents created by the user later on) served inside a `www` directory which should be created inside `${config.stateDir}`.
* `leaps`: create example document with text so that when the user visits the webservice for the first time sees something to edit instead of having to add this manually

fo

[2018-03-06 01:41] aszlig commented on #14
@qknight: Should this only be for the tests or for the actual production setup?

[2018-03-06 13:02] qknight commented on #14
@aszlig this new concept should be for **production** as it makes sense for supporting legacy services.

[2018-03-07 02:10] qknight commented on #11
i've basically updated all documentations in https://github.com/nixcloud/nixcloud-webservices and i will finish with the database related parts soon.

[2018-03-08 20:48] qknight opened #15 "user/group names get too long"
# issue description

`user/group` names are getting too long:

the limit is 32 characters according to the useradd manpage

[code]

the problem is that systemd won't be able to start the services with a 'too' long username and bail out with a:

[code]

# nixpkgs

https://github.com/NixOS/nixpkgs/pull/36556

# nixcloud-webservices

@aszlig i'd like to apply this patch

[code]

[2018-03-08 23:05] #15 closed

[2018-03-09 16:43] qknight opened #16 "nixcloud-webservices breaks nixos-rebuild switch update nix 1.x -> nix 2.x"
# description

[code]

when nixcloud.webservices is in use, then the upgrade from `2e4aded3669` to `nixos-18.03pre130932.cc4677c36ee` fails with this error message:

[code]

this is caused by our unit test for `nixcloud.reverse-proxy`.

# hacky solution

* comment out the test in `modules/services/reverse-proxy/default.nix`
* do a `nixos-rebuild switch` and NOT reboot
* comment the test back in
*

[2018-03-09 16:43] qknight commented on #16
@aszlig do you have an idea?

[2018-03-09 23:26] aszlig commented on #16
Yes, this is caused by https://github.com/NixOS/nixpkgs/pull/27688, here is the accompanying changelog entry: https://github.com/NixOS/nixpkgs/blob/3ab34a01e073a766002665c01a19df8f8a7ae876/nixos/doc/manual/release-notes/rl-1803.xml#L353-L383

[2018-03-10 20:22] erictapen opened #17 "nixcloud.email: evaluation error when using nginx simultaniously"
When using the [example config](https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.email.md#basic-example), I'm getting

[code]

This is a test case, reproducing the issue:

[code]

Put it in `test-email.nix` and call it with

[code]

where `nixpkgs` is current `nixos-17.09` and `nixcloud-webservices` current `master`.

[2018-03-10 20:34] qknight commented on #17
if you want to use `services.nginx` then you need to disable ACME in `nixcloud.email`, see:

https://nixdoc.io/nixcloud-webservices/index.html#enableacme+nixcloud

use `nixcloud.webservices` instead of `services.nginx`, see:

https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.webservices.md#static-file-serving-no-cgi

[2018-03-14 04:18] qknight commented on #17
@erictapen updated https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.reverse-proxy.md with an image to illustrate the implications

[2018-03-14 12:36] qknight commented on #17
@erictapen fixed in https://github.com/nixcloud/nixcloud-webservices/commit/7a510de66208ef3d500bc3a586e6e9b6454e16cc and the cause for the problem is fixed in nixpkgs by https://github.com/NixOS/nixpkgs/commit/edeacd00ada72c70661c4f421146134b42feb815#diff-3ac514cd8063d3114597ce7aa42b27cf

[2018-03-14 12:36] #17 closed

[2018-03-21 04:45] aszlig commented on #12
@leenaars: I'm not quite sure what you mean exactly, because the actual database service is only enabled whenever there are databases defined.

The only unit that's really always there is `database.target`, which is used for ordering instance startup:

[code]

[2018-03-21 08:40] leenaars commented on #12
Lots of empty targets clutter the user understanding (these are still listed with the 'real' targets and services when the end user looks at it). There are cases where I would expect many identical instances to live alongside each other, with databases categorically not needed (like when hosting tens of different tiny static sites or web apps).

Having an optional flag to turn these 'boilerplate s

[2018-03-21 09:30] aszlig commented on #12
@leenars: I think using such a flag for something that we can figure out automatically would add even more confusion, so now (ce59aedc05ce4ee22ca3821ea58d3e3e2b6da4ce) the targets are no longer there if no databases are assigned.

Does that address your issue?

[2018-03-21 10:39] leenaars commented on #12
Even better. Thanks!

[2018-03-21 10:39] #12 closed

[2018-03-21 15:18] qknight opened #18 "stateful webservices"
# motivation

* `services.nginx` and `services.httpd` basically implement stateful webservices (CGI scripts in /www and not in the /nix/store).
* `services.httpd` implementing `extraSubservices` is an exception and was the main inspiration for  what `nixcloud-webservices`

however, i would love to use `nixcloud-webservices` also to have a frontend/backend with stateful CGI documents support:

* th

[2018-03-21 15:21] qknight commented on #18
@leenaars you might like this feature, right?

[2018-03-23 10:10] leenaars opened #19 "darkhttpd static webserver by design needs external mimetype indication"
I've tested the nixcloud abstractions for static hosting, and the current darkhttpd back-end seems to not be able to properly serve SVG files with their mimetype (design decision of the author of darkhttpd). Some browser then refuse to show these, which would result in brokenness.

In the pull request I made before (https://github.com/nixcloud/nixcloud-webservices/pull/2), this was covered by reus

[2018-03-23 15:21] qknight commented on #19
yes, valid ideas. do you want to do a PR or shall i try to fix it?

[2018-04-07 10:17] leenaars opened #20 "Too long group names"
After an intended upgrade to NixOS 18.03, group names appear to face new restrictions. The autogenerated names for webservices should be probably capped in some way:

`Group name 'leaps-demo-webserver' is longer than 16 characters which is not allowed!'`

[2018-04-09 17:44] fgaz opened #21 "Dovecot 2.3 requires ssl_dh=</path/to/dh.pem"
The 18.03 channel includes dovecot 2.3, which requires ssl_dh to be set.

If i generate it with `# openssl dhparam -out /etc/dovecot/dh.pem 4096` and add `ssl_dh = </etc/dovecot/dh.pem` to `/etc/dovecot.conf` then everything works.

[2018-04-10 07:48] aszlig commented on #20
@leenaars: This issue will be solved once https://github.com/NixOS/nixpkgs/pull/38548 lands in `release-18.03` and `master`. I've pushed the fix to `staging` and `staging-18.03` because it's a mass-rebuild. Once the next staging merge is done upstream the error will be gone.

[2018-04-10 08:06] aszlig commented on #11
@leenaars: Improved the documentation a bit more, see 894e69fd22bf8be9cb2ae161a55b5a73c337e0a1 and ba8ae62dd78bf810a3d46fbd4c3bbab0f8b34a0b.

[2018-04-10 13:01] aszlig commented on #14
@qknight: Do the commits that reference this issue also address the issue?

[2018-04-17 11:52] uwap commented on #21
Hey,
thank you for reporting this issue. You are right, the Diffie-Hellman parameters should be generated and given to dovecot. I think though, that this is more of a problem that should be integrated into nixpkgs. I am going to write a pull request to nixpkgs soon that will automatically set ssl_dh for dovecot using https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/security/dhparams.nix.

[2018-04-24 21:10] erictapen opened #23 "Switch from Nixpkgs TLS to Nixcloud TLS fails"
I went from

[code]

to

[code]

.

When deploying with NixOps this fails:
[code]

I have not enough capacity to provide a redacted log of `acme-erictapen.de-ACME.service`, so I will send it to @qknight, so that he can post snippets without sensible information in it.

Nix info:

 - system: `"x86_64-linux"`
 - host os: `Linux 4.14.35, NixOS, 18.03 (Impala)`
 - multi-user?: `yes`
 - sandbox: `yes`

[2018-04-25 00:42] qknight commented on #23
@erictapen can you please post your `nixcloud.TLS.certs` configuration.

# BIG WARNING

`nixcloud.TLS` was designed to be used with `nixcloud.reverse-proxy` and you clearly don't use it as you are using `services.nginx` on port 80. by definition your `services.nginx` service has to handle the ACME requests BUT it will only do that if you configure `vhost.enableACME || vhost.useACMEHost != null` as

[2018-04-25 10:43] qknight commented on #23
update: https://github.com/NixOS/nixpkgs/blob/release-18.03/nixos/modules/services/web-servers/nginx/default.nix#L592 is also exporting security.acme.certs which should contradict the `nixcloud.TLS` settings as they probably won't merge.

**without major rewrites you won't be able to use `services.nginx` with `nixcloud.TLS`**

that said, you can always hack your nginx.config manually by using http

[2018-04-25 10:44] qknight commented on #23
@aszlig this is one reason we need the stateful nginx backend feature, so ppl can just migrate to nixcloud-webservices without much change at first...

[2018-04-25 11:09] #23 closed

[2018-04-25 11:12] qknight opened #24 "perl-Razor2-Client-Agent-2.84.drv fails to build on unstable"
# problem description

when using `nixcloud.email` on unstable `perl-Razor2-Client-Agent-2.84.drv` won't build.

[code]

[code]

[2018-04-25 12:05] erictapen commented on #23
Oh no, then I completely misunderstood the module, sorry. Will have a look at `nixcloud.reverse-proxy` asap...

[2018-04-25 12:14] qknight commented on #24
fixed by aszlig in current master, but not yet in unstable

[2018-04-25 12:14] #24 closed

[2018-04-25 12:17] qknight commented on #23
i'll be updating the documentation ASAP. seems `nixcloud.TLS` breaks other assumptions as well.

[2018-04-25 13:01] qknight commented on #21
@uwap any news?

[2018-04-25 19:44] qknight commented on #21
@fgaz i've implemented this now in https://github.com/nixcloud/nixcloud-webservices/commit/0d914eca5ac11789bde941b8fd4069832dbc6efe

i will create a PR for an upstream change:

[code]

[2018-04-25 21:24] qknight commented on #21
https://github.com/NixOS/nixpkgs/pull/39507

[2018-04-25 21:24] #21 closed

[2018-05-02 22:11] qknight commented on #16
a solution i found was to remove all nixcloud-webservice references from configuration.nix, do the update, readd them.

a bit of a pain but when the userbase gets bigger, we will make a better workflow.

[2018-05-02 22:11] #16 closed

[2018-05-04 06:52] qknight commented on #20
@leenaars closing this as it should be solved already. if not please reopen

[2018-05-04 06:52] #20 closed

[2018-05-09 13:17] qknight commented on #14
these patches are very helpful, thanks

[2018-05-09 16:56] #14 closed

[2018-05-09 17:02] qknight opened #26 "leaps: websocket behind reverse-proxy broken"
issue description:

leaps uses a websocket for the document editing. because the Host header is not set, leaps will return a CORS error which can be fixed by adding: `proxy_set_header Host foo.de;` into the reverse-proxy configuration.

the problem is that:

proxyOptions.http. | proxyOptions.https.
* flags
* record

would need to compute `config.proxyOptions.domain` which is not possible at the mo

[2018-05-09 18:40] qknight opened #27 "leaps: Lost connection"
the leaps websocket connects but after one minute of idle time it looses the connection.

probably a timeout in the reverse proxy which i assumed to be fixed but maybe i forgot to commit?

https://stackoverflow.com/questions/28828332/gorilla-websocket-disconnects-after-a-minute

[2018-05-09 19:56] qknight commented on #26
good news, we can just use: `proxy_set_header Host $host;` instead and don't need the `location`

[2018-05-09 20:07] qknight commented on #26
fixed in be57d526547c66db05595002682525ca62c8f068

[2018-05-09 20:07] #26 closed

[2018-05-09 20:07] qknight commented on #27
fixed in be57d52

[2018-05-09 20:07] #27 closed

[2018-05-10 08:27] qknight commented on #19
fixed in 48b3a82d7386ff6ccfc0c176d491e418f5f1017f

[2018-05-10 08:27] #19 closed

[2018-05-10 09:28] qknight opened #28 "nixcloud.container systemd patch"
# motivation

it would be helpful to have https://github.com/nixcloud/nixcloud-container/blob/master/bin/helper/8447.patch in nixpkgs:

* master (unstable)
* 18.03

the problem is that without this patch upstream we have to rebuild all software which should be deployed inside the LXC base container.

[2018-05-16 13:20] erictapen opened #29 "The option `nixcloud.email.enableACME` does not exist."
It's described in [here](https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.email.md).

My `nixcloud-webservices` checkout is 41616c7532965d72b2f67d95fb6121f798953293.

[2018-05-16 14:35] qknight commented on #29
should be 'nixcloud.email.enableTLS` now as the option was renamed but the nixos renaming convention wasn't yet used.

thanks for reporting! we should also start ot use `rename.nix` features...

https://hydra.nixcloud.io/job/nixcloud-webservices/release-18.03/manual/latest/download/1

see

https://hydra.nixcloud.io/build/600/download/1/nixcloud-webservices/#opt-nixcloud.email.enableTLS

[2018-05-16 14:35] #29 closed

[2018-05-16 17:37] erictapen opened #30 "nixcloud.email: example config runs VM test when built"
This is my host config:

[code]

I'm on `nixos-18.03` and `nixcloud-webservices` 8c9a23046406b4319f0a08d727183c5f03018059.

When deploying this, `vm-test-run-email` is built. This is annoying, as it takes alot of resources on my laptop. I there a reason for it?

[2018-05-16 17:44] erictapen opened #31 "nixcloud.email example results in system using self signed TLS certificate "Warwickshire""
I tried `nixcloud.email` another time, this time on a "vanilla" NixOS host. This is my host config:

[code]

I'm on `nixos-18.03` and `nixcloud-webservices` 8c9a23046406b4319f0a08d727183c5f03018059.

Everything seems to work, but when I try to fetch my Mails with `offlineimap`, I get

[code]

A run of `openssl` reveals:

[code]

I would expect, that the example config contains not a self signed ce

[2018-05-16 19:59] qknight commented on #30
just set `nixcloud.tests.enable = false;` to disable the tests. an alternative would be to use the newly introduced channels, see https://github.com/nixcloud/nixcloud-webservices#using-nixcloud-webservices

[2018-05-16 19:59] #30 closed

[2018-05-16 19:59] qknight commented on #30
btw, we have to use the tests to make sure that the nixpkgs used don't screw our infrastrucutre.

[2018-05-16 20:01] qknight commented on #31
are you still using `services.nginx` because that won't work with `nixcloud.TLS` and therefore ACME will only create self-signed certifictes.

you need to enable `nixcloud.reverse-proxy` on port 80 in combination to this setup so that you actually can query valid let's encrypt certifictes.

[2018-05-16 22:29] qknight commented on #31
hack ahead: if you still want to use `services.nginx` or `services.apache` you can define a webpage running on the 'domain' in question so that `security.acme` is able to query the certificate when needed. but then you have to reload the `postfix.service` and `dovecot2.service` manually from time to time since they don't know about updated certificates.

[2018-05-16 23:30] qknight commented on #18
added in https://github.com/nixcloud/nixcloud-webservices/commit/3345f69f87c2cf194ca5e06850e38e7bcad2ce63 and documentation in https://github.com/nixcloud/nixcloud-webservices/commit/c5ca3dae4fa02694c5576f5803a6759f1064bdb2

[2018-05-16 23:30] #18 closed

[2018-05-17 11:29] erictapen commented on #30
Okay, thanks, `nixcloud.tests.enable = false;` did the job. From a user perspective I'd probably prefered to have the testing being opt-in.

[2018-05-17 12:30] erictapen commented on #31
As I said, I setup a new NixOS host with a sole purpose to not have any other service like Nginx running, which could interfer with the setup. Also I just did

[code]

to get sure, that all the certs I have come from Nixcloud. After rebuilding the system, the problem persists.

I don't want to run any other web service, just email. There is really nothing else configured on the server, besides of

[2018-05-21 08:54] qknight commented on #31
@erictapen i've been looking into your issue and the problem is that:

1. `acme-mail.someserver.com.service` was able to get a certificate after a while
2. but https://github.com/NixOS/nixpkgs/blob/release-18.03/nixos/modules/security/acme.nix#L296 uses a privateTmp
3. but https://github.com/NixOS/nixpkgs/blob/release-18.03/nixos/modules/security/acme.nix#L239 seems not to be able to read it and t

[2018-05-21 09:19] qknight commented on #31
filed a bug https://github.com/NixOS/nixpkgs/issues/40874

[2018-05-21 09:19] qknight commented on #31
now i'd like to move away from `security.acme`, see this https://github.com/NixOS/nixpkgs/issues/34941

[2018-05-26 11:02] erictapen commented on #31
Works like a charm now, many thanks!

[2018-05-26 11:02] #31 closed

[2018-05-26 16:29] erictapen commented on #31
By the way: Today I learned about [`nixos/tests/common/letsencrypt.nix`](https://github.com/NixOS/nixpkgs/blob/master/nixos/tests/common/letsencrypt.nix). This looks like a module which emulates the Let's Encrypt API, so one can test for issues like this automatically.

[2018-05-29 15:59] CrushedPixel opened #32 "Retain trailing slash in reverse-proxy location entry"
Currently, the `nginx` config generated by the `reverse-proxy` abstraction does not properly translate `path` settings into `location` entries - in my particular case, I need a trailing slash in the `location` entry to only match subroutes of a given path.

## Expected behaviour:
`path = "/api/"` generates `location /api/`
## Observed behaviour:
`path = "/api/"` generates `location /api`

I didn't

[2018-05-29 16:33] CrushedPixel commented on #32
Fixed in #211b0a32648608a350a1e3157a8008dcac19ee81.
Leaving this open for @qknight to think about implications of this change, for example the previous removal of double slashes in the `path` being disabled.

[2018-06-23 18:38] fgaz opened #34 "nixcloud.TLS cert owner option"
Most services do not run as root, but the certs are root-owned with permissions 0700

[2018-06-23 18:40] fgaz opened #35 "nixcloud.TLS default email"
It would be nice if there was a way to specify a global default email in addition to the per-cert ones

[2018-08-29 17:58] fgaz opened #39 "Add extraConfig option for dovecot2"
I have a lot of folders and I use IDLE, so I need a high mail_max_userip_connections, but there's no way to add it to dovecot2's config without editing nixcloud-webservices

[2018-08-29 20:35] #32 closed

[2018-08-29 21:52] qknight commented on #39
can't you just write this code anywhere in your configuration.nix?

[code]

[2018-08-30 08:48] fgaz commented on #39
Oops, yeah, I can. I completely forgot about the automatic merging.

Thanks and sorry for wasting your time!

[2018-08-30 08:48] #39 closed

[2018-08-30 09:11] qknight commented on #35
so according to the documentation: https://github.com/nixcloud/nixcloud-webservices/blob/master/documentation/nixcloud.TLS.md

we have this syntax:

[code]

and you propose this:

[code]

if you really want that, we can implement that. wouldn't be much work.

[2018-08-30 09:57] fgaz commented on #34
Yes, that would help!
I'm running a mumble server (murmur) with this configuration:
[code]

Murmur silently (!) falls back to a self-signed cert if it can't read the provided one.

Radicale should also have this problem, but I have yet to set it up.

[2018-08-30 16:07] qknight commented on #34
@fgaz nearly have this feature ready. needs some more testing but the code looks already promising:
https://github.com/nixcloud/nixcloud-webservices/tree/cert-user-groups

[2018-08-30 16:12] qknight commented on #34
my config looks like this:

[code]

[2018-08-31 05:01] eliasp opened #41 "Support staging/non-default endpoint for ACME operations"
To prevent running into [rate-limits](https://letsencrypt.org/docs/rate-limits/) during tests/for debugging or to keep experimental certificates out of [CT logs to which LetsEncrypt publishes](https://letsencrypt.org/certificates/#certificate-transparency), it would be quite helpful to be able to use the [LetsEncrypt staging API](https://letsencrypt.org/docs/staging-environment/).

Furthermore, in

[2018-08-31 08:35] qknight commented on #41
nixcloud.TLS builds on top of `security.acme` for the moment when using `mode = "ACME"` for a certificate. That also means you can set the global `production` variable like this:

[code]

For instance, from your `configuration.nix` or whatever module you linked from there.

Does this help?

[2018-08-31 08:35] #41 closed

[2018-08-31 09:12] qknight commented on #34
@fgaz some updates:

* fixed a permission bug
* refactored 'cert' into 'identifier'
* tested all 3 modes manually using 'murmur'

only one bug is left, when a user is not listed in users.groups anymore it still remains in `/etc/group` and i don't understand why. maybe a nixos bug and i will file this later.

will push these changes in nixcloud-webservices soon.

[2018-08-31 09:29] qknight commented on #34
this feature is live with https://github.com/nixcloud/nixcloud-webservices/commit/7335d8e69121f99da8862e404987c9b54631dfe4

@fgaz please report in this issue if you still find issues and reopen!

[2018-08-31 09:29] #34 closed

[2018-08-31 10:29] eliasp commented on #41
It helps for the use-case of switching between LetsEncrypt production and staging, but we should keep in mind that LE is just a "default" ACME provider and a scenario where one runs his own internal ACME CA or another provider offers ACME at some point should be considered.

I don't think there's an explicit need to implement this right now, I just want to make sure it is considered in terms of ho

[2018-08-31 10:31] qknight commented on #35
more complicated than expected...

[2018-08-31 10:56] qknight commented on #35
implemented in 6c61dc1439ca280fbb0e2636f3d0c7a7db4eeaca

[2018-08-31 10:56] #35 closed

[2018-08-31 11:43] qknight commented on #41
Our long term goal is to:

* get rid of `security.acme` and implement their features in `nixcloud.TLS`
* get rid of `simp_le` and replace it by something more recent, aszlig has some ideas

BUT for now it is good enough since it is still working well and we don't have the resources to move on yet.

[2018-08-31 12:03] eliasp commented on #41
Correct!

[2018-08-31 12:09] qknight commented on #41
at the moment `security.acme.production` is a global variable, see https://nixos.org/nixos/options.html#security.acme

we'd have to patch `security.acme` and since my last contact to the developers i'd rather integrate the missing 100 lines of code into `nixcloud.TLS` before touching `security.acme` again. this would have some benefits:

* only one abstraction to manage, `nixcloud.TLS` and not sec

[2018-09-05 16:17] fgaz commented on #34
It works! Thanks for the fix!

I just had to force a cert renew since the permissions were still `rwx------`, but this shouldn't be a problem for new users.

[2018-09-05 16:26] fgaz commented on #35
Thanks again!

[2018-09-16 11:30] leenaars opened #43 "allowPing setting"
The ping setting for the mail module causes conflicts with other modules... seems unlikely to be essential to the functioning of the mail module, and could perhaps be removed?

error: The option `networking.firewall.allowPing' has conflicting definitions, in `/nix/store/1ddrbljzx3i7j8y5yyy495nb97q7xdrd-nixcloud-webservices/nixcloud-webservices/modules/services/email/nixcloud-email.nix' and `/etc/n

[2018-09-17 11:13] qknight commented on #43
fixed in e48ea15eda561e3c28f12df63f8220fe95e5b41d

thanks for pointing this out!

[2018-09-17 11:13] #43 closed

[2018-10-25 16:23] sjmackenzie opened #44 "Problem: The option `nixcloud.reverse-proxy.extraMappings.[definition 1-entry 1].port' is used but not defined."
## Steps to reproduce
* `nixos-rebuild switch --upgrade` after upgrading from 18.03 ( upgraded in `stateVersion` + `nix-channels`)

## Expected behaviour
* Executes without errors as in 18.03
* This is still experimental software so breakage is expected.

## Actual behaviour
[code]

[code]

[2018-10-25 21:45] qknight commented on #44
i've fixed it by adding a `port` option value, the record looks like this now:

[code]

[2018-10-25 21:45] #44 closed

[2018-12-01 10:04] eliasp opened #48 "nixcloud-webservices 18.09 doesn't seem to enforce nixos/nixpkgs 18.09"
Quoting comment from chat:

…I switched my `nixcloud-webservices` channel from `18.03` to `18.09`, but forgot to do the same for my regular nixos channel and `stateVersion`, which resulted in `nixcloud.TLS` pulling in an ancient `lego` release which ended up failing due to a bug which is fixed in `18.03`…
…shouldn't `nixos-webservices-18.09` somehow enforce the proper/required release of NixOS/nix

[2018-12-03 11:06] qknight commented on #48
see this commit: https://github.com/nixcloud/nixcloud-webservices/commit/7cca6d464341c05f0e125e354273c590bba4a59b

it enforces that now! thanks for pointing out.

[2018-12-03 11:06] #48 closed

[2018-12-04 14:51] leenaars opened #49 "Permission error certificate TLS-acmeSupplied"
I wanted to upgrade my test instance but I'm consistently gettting a permission error on the certificate install phase for all certs:

8z9z3qyyybqqhvyk0z7fnkqymfvm287q-unit-script-nixcloud.TLS-acmeSupplied-test.com-start[12817]: /nix/store/8z9z3qyyybqqhvyk0z7fnkqymfvm287q-unit-script-nixcloud.TLS-acmeSupplied-test.com-start: line 2: cd: /var/lib/nixcloud/TLS/test.com/acmeSupplied: Permission denie

[2018-12-04 20:51] qknight commented on #49
`nixos-version` says?

[2018-12-04 20:51] qknight commented on #49
can you do a: `rm -Rf /var/lib/nixcloud/TLS`

[2018-12-04 21:07] leenaars commented on #49
My version is 18.09.d45a0d7-nixcloud_decec0f (Jellyfish)

[2019-01-06 20:00] eliasp opened #50 "$service-$name-apache.service is started, despite failing $service-$name-webserver-init.service"
How to reproduce:
Implement a webservice with:
`webserver.variant = "apache";`
and
`webserver.startupScript = "exit 1";`

Even though `$service-$name-webserver-init.service` will fail now expectedly due to `exit 1`, `$service-$name-apache.service` will start nonetheless.

[2019-02-08 11:09] fgaz opened #53 "STARTTLS encryption on managesieve cannot be enabled"
24101d6ab9c305d26562ffb16d36b7fd242bf690 enabled SSL by default on managesieve (port 4190), but as far as I understand no plaintext alternative port is provided, so STARTTLS is not possible.

Since the managesieve spec does not define a SSL port, some managesieve clients (claws mail for example) only support STARTTLS, and have no way to connect to the nixcloud-webservices' managesieve server (unle

[2019-02-08 13:47] qknight commented on #53
probably everyone uses TLS by default i'd imagine. what do you propose?

[2019-02-08 18:08] fgaz commented on #53
I don't think so. For example, iRedMail seems to expose an unencrypted (well, until the client does a STARTTLS (and most clients enforce it)) managesieve:

https://docs.iredmail.org/network.ports.html

And so does mailinabox:

https://mailinabox.email/static/architecture.svg

Also every client I tried only supports STARTTLS, but I didn't try many. Do you use one that supports TLS?

Finally, the RF

[2019-02-09 09:31] qknight commented on #53
with TLS i also meant STARTTLS but now i notice the difference. would you want to create a PR for this?

[2019-02-13 08:17] fgaz commented on #53
Sure, just assign the issue to me so I don't forget it. I'm rather busy atm, so this will have to wait a bit.

[2019-02-16 06:37] aborsu opened #55 "Domain hydra.nixcloud.io has no dns record"
I was using the webmail service you wrote, but I've been having errors when trying to update because your domain doesn't appear to exist anymore.

[2019-02-17 23:34] qknight commented on #55
We decided to remove support for `hydra.nixcloud.io` and do no longer offer pre-compiled binaries. You can simply remove the channel and build it yourself. The code is still maintained.

[2019-02-17 23:34] #55 closed

[2019-04-18 12:35] nuxeh opened #59 "Import with fetchFromGitHub"
Hi,

I'd like to import this into configuration.nix using importFromGithub, but i get infinite recursion.

Is this something that's possible to do?

Thanks.

[2019-05-05 22:51] qknight commented on #59
not sure. If you found a solution, would be nice if you could post it here. There was a similar issue with the hydra module IIRC but I couldn't find the code.

[2019-05-05 22:51] #59 closed

[2019-09-04 07:57] leenaars opened #60 "Document and test email aliases"
While testing nixcloud-webservices I noticed that nixcloud mail documentation *mentions* the possibility of aliases but does not actually tell you how to create an alias.

Perhaps it would be good to add a test as well, to see if aliases are properly created.

[2019-09-04 08:04] leenaars commented on #60
Note that if people read nix they can look at modules/services/email/virtual-mail-submodule.nix but normal users should not have to dig into source...

Note that the default config seems to point to an alias_database = hash:/etc/aliases which does not exist?

[2019-11-07 21:16] qknight commented on #60
you are right

[2020-01-28 00:03] CrushedPixel opened #63 "Configure addition reverse-proxy options with static-darkhttpd"
I'm using `static-darkhttpd` to serve a static frontend like this:
[code]

This works very well.
Now I want to add a custom option to the reverse-proxy entry for this frontend, namely something like `try_files $url $url.html` to allow users to access the pages served without the `.html` extension.

(How) is this possible?

[2020-02-13 21:10] leenaars opened #64 "Missing submodules in Nixos"
It is no longer possible to build nixcloud-webservices with current nixos-unstable:

building Nix...
building the system configuration...
error: attribute 'submodule' missing, at /home/username/repo/nixcloud-webservices/modules/web/core/webserver.nix:66:39
(use '--show-trace' to show detailed location information)

[2020-02-17 21:00] leenaars commented on #64
There were some changes in modules related to nixcloud-webservices::

 https://nixos.org/nixos/manual/release-notes.html#sec-release-19.09

[2020-03-22 14:14] qknight opened #65 "nixos-19.09: directories test fails"
In nixos-19.03 it was still working but in 19.09 it fails, starting with this commit:

[code]

[2020-03-22 14:53] qknight opened #66 "nixos-19.09: containers test fails"
fails with:

client# [  920.629694] systemd[1]: Started Cleanup of Temporary Directories.
mail1: running command: nc -z localhost 80
mail1: exit status 1
(0.01 seconds)
mail1: running command: nc -z localhost 80
mail1: exit status 1
(0.01 seconds)
mail1: running command: nc -z localhost 80
mail1: exit status 1
(0.01 seconds)
mail1: running command: nc -z localhost 80
mail1: exit status 1
(0.01 sec

[2020-03-22 14:55] qknight opened #67 "nixcloud.TLS fails in nixos-19.09"
# failing test

[code]

# last commit
[code]

[2020-03-22 23:11] qknight commented on #67
the fix:

[code]

[2020-03-30 18:42] qknight commented on #67
fixed in dd379bcbbb003525b7bc5cde65647470eeeab060

[2020-03-30 18:42] #67 closed

[2020-04-08 11:22] griff commented on #66
I just came across this myself and it seems that `nixcloud.email.webmail.enable` can't be true  unless `nixcloud.email.enableTLS` is also true and that is the case in the email test.

Have the tests even been run before webmail was merged?

[2020-04-08 20:18] #66 closed

[2020-04-25 10:20] fgaz commented on #64
This prevents nixcloud-webservices to work on the newly released 20.03

[2020-07-15 15:52] Infinisil commented on #64
A couple days ago I had a discussion with @Melkor333 on IRC regarding this: https://logs.nix.samueldr.com/nixos/2020-07-12#1594566523-1594572059; where I also suggested a non-optimal solution

The change in nixpkgs that introduced this problem is my PR https://github.com/NixOS/nixpkgs/pull/75031. I don't think this is a problem with the PR though, because the problematic code in nixcloud-webservic

[2020-07-16 05:36] Melkor333 commented on #64
Oh wow thank you for taking another look at it!! 😯 I hope I’ll have time next weekend to run the tests with this code and create a PR...

[2020-10-29 10:28] fgaz commented on #64
This is still a problem and prevents nixcloud-webservices to work with the newly released 20.09. I'll try to apply the same fix to the remaining places and submit a pr shortly

[2020-10-29 10:42] fgaz opened #70 "20.09: loaOf in users.users and users.groups makes nixcloud-webservices throw an error"
In 20.03 it just gave a warning:

[code]

But in 20.09 the old type was removed and this results in an error.

To reproduce, set `nixcloud.reverse-proxy.enable = true`

edit: same error in other places later in the evaluation

[2020-10-29 11:14] fgaz commented on #70
Found two of them:

https://github.com/nixcloud/nixcloud-webservices/blob/05701ee9f470c6d25aabec54dbc00c7eb31ae971/modules/services/reverse-proxy/default.nix#L396-L403

Now looking for the others. I'll open a pr with the fixes.

I wish we had static typing. It would make everything much easier

[2020-10-29 14:00] fgaz opened #71 "20.09: missing /var/{cache,log}/nginx directories prevent nixcloud.reverse-proxy to start"
https://nixos.org/manual/nixos/stable/release-notes.html#sec-release-20.09

[2020-10-29 14:22] fgaz opened #72 "20.09: preliminary self-signed certificates fail to generate"
[code]

Really weird. The ExecStart didn't fail, so server.key should be there

[2020-11-05 18:33] fgaz commented on #70
#73

[2020-11-08 10:20] fgaz commented on #72
Wild guess: when [PermissionsStartOnly was deprecated](https://github.com/NixOS/nixpkgs/issues/53852), it was changed to have the same semantics as adding [the + prefix](https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=) to everything except ExecStart. This would mean that the PrivateTmp (acmeSuppliedPreliminary sets it in addition to PermissionsStartOnly) is now Exe

[2020-11-08 10:56] fgaz commented on #72
If that's the case, this could be fixed by using [`RuntimeDirectory`](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#RuntimeDirectory=) or [tmpfiles](https://www.freedesktop.org/software/systemd/man/tmpfiles.d.html#) instead.

[2020-11-21 16:42] fgaz commented on #72
Yes, setting `RuntimeDirectory` and using `$RUNTIME_DIRECTORY` instead of `/tmp` in `services/TLS` does the trick! I'll open a pr

[2020-12-26 21:54] nh2 commented on #72
@fgaz What came of this?

[2020-12-27 10:12] fgaz commented on #72
@nh2 I fixed it but forgot to send the patch. Thanks for reminding me, here it is: #74

[2021-02-19 10:38] #72 closed

[2021-02-19 10:38] #70 closed

[2021-02-19 10:50] qknight commented on #71
I'll be looking into this soon. Kind of back from my winter-sleep ;-)

[2021-03-09 08:17] ppenguin opened #75 "documentation: add remote repo inclusion recipe (as preferred installation method?)"
As a `nix` noob I (unnecessarily) struggled with this one, although it's arguably the most logical use case to directly start using `nixcloud`: a "zero install" method by just referring to the remote repo in the `.nix` file using `nixcloud`.

I.e. I would have expected that a solution that does the below is actually documented as the first and preferred "installation" method, since it makes the mo

[2021-03-09 12:28] ppenguin opened #76 "webmail not working (on 20.09)"
I don't know whether it's a reqression for newer versions (I'm a new user), but when I try to set up a very basic mail config, I get the following error:

[code]

where `mydomain.me` is the domain defined under `nixcloud.email.domains = [ "mydomain.me" ];`

The only way I found to get rid of this error is to disable webmail with `nixcloud.email.webmail.enable = false;` (all of which is undocumente

[2021-03-09 12:35] ppenguin opened #77 "rspamd not working (on 20.09) due to option users.users error"
After working around #76 (I mention this because it may be caused by a regression on newer `nixos` versions, and for this issue looks a bit similar to the issue mentioned [here](https://codeberg.org/davidak/nixos-config/issues/26) and patched [here](https://codeberg.org/davidak/nixos-config/commit/63dab2c1f3b118c1f2ee3f1dde9d166c83796b58).

The error I'm seeing:

[code]

I have users defined (only

[2021-07-14 14:47] fgaz opened #78 "Infinite recursion on nixos 21.05"
It seems to be related to email.

To reproduce, try to build this file in the nixcloud-webservice repo:

[code]

[2021-07-14 15:05] fgaz commented on #78
I wonder if this is due to:

[code]

[2021-07-14 15:47] fgaz commented on #78
Nope. While that is a problem, it isn't the cause of the infinite recursion

[2022-10-29 10:32] ppenguin commented on #77
Closing to cleanup, not tested on newer versions (yet).

[2022-10-29 10:33] #77 closed